In [72]:
import numpy as np
import pandas as pd
import random
from statsmodels.stats.proportion import proportions_ztest

parf = pd.read_csv("D:/Skillbox/Analytics, Middle/parfume.csv")
parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
2           3  3   3   22  control     2
3           4  4   4   18  control     1
4           5  5   5   23  control     0

In [73]:
parf = parf.loc[parf['vote'] != 2]
parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [74]:
control = parf.loc[parf['group'] == 'control']
test = parf.loc[parf['group'] == 'test']
print(test.head())
print(control.head())

     Unnamed: 0    X   id  age group  vote
124         125  125  125   22  test     1
125         126  126  126   23  test     0
126         127  127  127   24  test     0
127         128  128  128   24  test     1
128         129  129  129   23  test     1
   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [75]:
p_test = test['vote'].mean()
p_control = control['vote'].mean()
p_test - p_control

0.22326293235384148

In [76]:
ns_control = sum(control['vote'])
ns_test = sum(test['vote'])
ns_control_len = control.shape[0]
ns_test_len = test.shape[0]
n = min(ns_control_len, ns_test_len)

In [77]:
count = np.array([control['vote'][0:n].sum(), test['vote'][0:n].sum()])

In [78]:
nobs = np.array([n, n])

In [79]:
proportions_ztest(count, nobs)

(-3.4831671024730886, 0.000495518964408123)

Значение 0.000495518964408123/2 явно меньше 5%, чернобелая реклама лучше